@use './src/ui/common/layout.scss';
@use './src/ui/common/button.scss';
@use './src/ui/common/input.scss';
@use './src/ui/join/join.scss';
@use './src/ui/lobby/lobby.scss';
@use './src/ui/teams/teams.scss';
@use './src/ui/grand_tichu/grand-tichu.scss';
@use './src/ui/common/pre-play-hand.scss';
@use './src/ui/common/call-small-tichu-container.scss';
@use './src/ui/trade/trade.scss';
@use './src/ui/play/play.scss';

:root {
  --primary-00: #060A42;
  --primary-10: #3A408C;
  --primary-20: #757BC8;
  --primary-30: #9D9EE9;
  --primary-40: #B5A8F4;
  --primary-50: #B5A8F4;
  --primary-60: #DAB6FC;
  --primary-70: #E0C3FC;

  --secondary-70: #FFFBD6;

  --gray-50: #9B9B9B;
  --gray-75: #D3D3D4;
  --gray-100: #F0F0F0;

  --card-width: 225px;
  --card-height: 350px;
  --card-aspect-ratio: calc(2.25 / 3.5);
  --card-aspect-ratio-percentage: 1.55%;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

h1 {
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: var(--primary-00);
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 3rem;
}

hr {
  margin: 1rem auto;
  width: 100%;
  max-width: 300px;
  height: 2px;
  border: 0;
  outline: 0;
  background-color: var(--gray-75);
}