@import '../../styles/mixins.scss';

.trade {
  .trade-to-person-container {
    --margin: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--margin) + 32px);
    margin-bottom: 32px;

    // move middle card up
    .trade-to-person-button:nth-of-type(2) {
      margin-top: calc(var(--margin) * -1);
    }
  }

  .trade-to-person-button {
    --width: 96px;
    width: var(--width);
    height: calc(var(--width) / var(--card-aspect-ratio));
    padding: 0;
    position: relative;
      
    .display-name {
      width: 100%;
      @include text-ellipsis;

      position: absolute;
      top: -24px;
      left: 0;
    }

    .card-icon-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .regular-value, .special {
        display: block;
        font-size: 32px;
        text-align: center;
        margin-bottom: 4px;
      }
      .regular-suit {
        display: block;
        text-align: center;
      }  
    }

    // not disabled
    .add-container {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid var(--primary-40);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        stroke: var(--primary-40);
      }
    }

    // disabled
    &:disabled {
      .add-container {
        border: 2px solid var(--gray-75);

        svg {
          stroke: var(--gray-75);
        }
      }
    }
  }
  
  button[type=submit] {
    margin: 32px auto 96px;

    svg {
      transition: 0.2s;
      height: 20px;
      width: 20px;
    }

    &:not(:disabled) {
      border: 2px solid var(--primary-40);
    }

    &:disabled  {
      svg {
        stroke: var(--gray-75);
      }
    }

    &:not(:disabled) {
      svg {
        stroke: var(--primary-40);
      }
    }
  }

  .waiting {
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    text-align: center;

    margin: 32px auto;
  }

  .check-button {
    margin: 64px auto;

    svg {
      stroke: var(--gray-75);
    }
  }
}