.grand-tichu-container {
  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 53px;
    text-align: center;
  }

  .info {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 8px auto;
  }

  .call-grand-tichu-button {
    width: 91px;
    height: 91px;
  }

  .call-grand-tichu-icon {
    stroke: var(--primary-40);

    &.check {
      width: 24px;
      height: 16px;
    }

    &.x {
      width: 38px;
      height: 43px;
    }
  }
}