.teams-container {
  .team-input {
    width: 95%;
    max-width: 300px;
    margin: 16px auto;
  }

  & > .button {
    margin: 32px auto;
  }

  .input-wrapper {
    width: 95%;
    margin: 0 auto;
    border: 1px solid var(--gray-75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .view-team-as-cards-container {
    margin: 16px auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .view-user-as-card {
    position: relative;
    border: 1px solid var(--gray-75);
    border-radius: 7px;
    min-width: 64px;
    min-height: 99.5px;
    
    // top margin makes room for display name above card
    margin: 40px 16px 16px 16px;

    p {
      position: absolute;
      top: -24px;
      width: 100%;

      // @todo: replace with text-ellipsis mixin
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.selected {
      background-color: var(--secondary-70);
    }
  }
}