.input {
  --height: 60px;
  height: var(--height);
  width: 100%;
  max-width: 300px;
  position: relative;

  label {
    transition: all 0.2s;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    display: block;
    font-size: 0.75rem;
  }

  input {
    font-size: 1rem;
    transition: border 0.2s;
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid var(--gray-75);
    outline: 0;
    border-radius: 5px;
    padding: 1.5rem 1rem 0.5rem;

    &:hover {
      border: 1px solid var(--gray-50);
    }
    &:focus {
      border: 1px solid var(--primary-40);
    }
  }
}

.input-label-down {
  label {
    transform: translateY(0.8rem);
    font-size: 1rem;
  };
}